# Updated using pur -r requirements.txt
wheel==0.45.1
PyYAML==6.0.2
pycurl==7.45.6
chardet==5.2.0
requests[use_chardet_on_py3]==2.32.3
Markdown==3.8
icoextract==0.1.6
patool==4.0.1
pathvalidate==3.2.3
FVS==0.3.4
orjson==3.10.18
pycairo==1.28.0
PyGObject==3.52.3
charset-normalizer==3.4.2
numpy==2.2.6
pyfluidsynth==1.3.4
idna==3.10
urllib3==2.4.0
certifi==2025.4.26
pefile==2024.8.26
